/* ====Hero==== */
.hero {
  color: var(--main-background-color);
  background-color: var(--hero-background-color);
  font-size: 44px;
  line-height: 1.4;
  text-align: center;
  letter-spacing: 0.06em;

  padding-top: 200px;
  padding-bottom: 200px;

  &__title {
    margin-top: 0;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  &__image {
    max-width: 1600px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--hero-background-color);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-img.jpg);
    background-size: cover;
    background-position: center;

  }
} 

/* ====End hero=== */