/*====Features==== */
.features {
  padding-top: 94px;

  &__list {
    display: flex;
  }
}

.feature__item {
  min-width: 270px;
  
  &::before {
    display: block;
    content: "";
    background-color: var(--secondary-background-color);
    background-repeat: no-repeat;
    background-position: center;
  
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.icon-antena::before {
  background-image: url(../img/antenna.png);
}
.icon-vector::before {
  background-image: url(../img/vector1.png);
}
.icon-diagram::before {
  background-image: url(../img/diagram.png);
}
.icon-astronaut::before {
  background-image: url(../img/astronaut.png);
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  margin-top: 0;
  margin-bottom: 10px;
}
.feature__text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;

  margin-top: 0;
  margin-bottom: 0;
}

/*----End features---- */


.features {
    margin-top: 60px;
  }
  
  .section-padding-bottom {
    padding-bottom: 60px;
  }
  
  .feature__item {
    width: 100%;
    min-width: 270px;
    
    &::before {
      display: block;
      content: "";
      background-color: var(--secondary-background-color);
      background-repeat: no-repeat;
      background-position: center;
      
      width: 100%;
      min-width: 270px;
      min-height: 120px;
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }


  .icon-antena::before {
  background-image: url(../../img/features/antenna.png);
  }
  .icon-vector::before {
    background-image: url(../../img/features/vector1.png);
  }
  .icon-diagram::before {
    background-image: url(../../img/features/diagram.png);
  }
  .icon-astronaut::before {
    background-image: url(../../img/features/astronaut.png);
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;

  margin-top: 30px;
  margin-bottom: 10px;
}

.feature__text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  
    margin-top: 0;
    margin-bottom: 0;
  }

/*=== Mobile Styles ====*/

@media screen and (min-width: 768px) {

  .features {
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin: var(-1 * var(--card-set-gap));
    }
  }

  .feature__item {
    outline: 3px yellow dotted;
    margin: var(--card-set-gap);
    flex-basis: calc(100% / 2 - var(--card-set-gap));
  }
}

/* ==== Desktop styles ===*/

@media screen and (min-width: 1200px) {

  .features {
    padding-top: 94px;
  
    &__list {
      display: flex;
    }
  }
  
  .feature__item {
    min-width: 270px;
    
    &::before {
      display: block;
      content: "";
      background-color: var(--secondary-background-color);
      background-repeat: no-repeat;
      background-position: center;
    
      width: 270px;
      height: 120px;
      margin-bottom: 30px;
    }
  
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
  
  .feature__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  
    margin-top: 0;
    margin-bottom: 10px;
  }
  .feature__text {
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  
    margin-top: 0;
    margin-bottom: 0;
  }
}

/*----End features---- */